@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    position: absolute;
    background-color: burlywood;
}

#animal {
    position: absolute;
    top: 21em;
    left: -1em;
    height: 14em;
}

#maison {
    position: absolute;
    top: 0;
    left: 100;
    z-index: -1;
    width: 1060px;
}

.action {
    font-family: 'Pacifico', cursive;
}

input {
    display: flex;
    font-family: 'Pacifico', cursive;
}